.color-animated-bold {
    color: #ff8080;
    font-weight: bold;
    animation: hue-rotation 3s infinite linear;
}

.image-animated-bold {
    border: 5px solid #ff8080;
    border-radius: 50px;
    animation: hue-rotation 3s infinite linear;
}

@keyframes hue-rotation {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

