:root {
  --primary-color: #018E55;
  --secondary-color: #007946;
  --text-shadow: #00794680;
  --box-shadow: #00794633;

  --gradient-primary: #1A1A1A;
  --gradient-secondary: #2A2A2A;

  --card-background: #0079461a;
  --card-gradient-primary: #252525;
  --card-gradient-secondary: #353535;
}

@font-face {
  font-family: "Open Sans";
  src: url('/fonts/OpenSans.ttf');
}

@font-face {
  font-family: "Product Sans";
  src: url('/fonts/ProductSansRegular.ttf');
}

@font-face {
  font-family: "Product Sans Italic";
  src: url('/fonts/ProductSansItalic.ttf');
}

@font-face {
  font-family: "Product Sans Italic Bold";
  src: url('/fonts/ProductSansBoldItalic.ttf');
}

@font-face {
  font-family: "Product Sans Bold";
  src: url('/fonts/ProductSansBold.ttf');
}

@font-face {
  font-family: "LEDBOARD";
  src: url('/fonts/LEDBOARD.ttf');
}

/* Tipografía global */
div,
label,
input,
p,
span,
a,
button {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans", sans-serif;
}